* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
}

.line {
    border-bottom: 1px solid #E3E3E8
}

.spaceBetweenLinks {
    margin: 5px;
}

.btn {
    background-color: #6a59cb;
    border-radius: 8px;
    height: 44px;
    cursor: pointer;
}
