* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.line {
  border-bottom: 1px solid #E3E3E8;
}

.spaceBetweenLinks {
  margin: 5px;
}

.btn {
  background-color: #6a59cb;
  border-radius: 8px;
  height: 44px;
  cursor: pointer;
}

body {
  background-color: #FAFAFD;
  border: 4px solid #6b0000;
}

.appBar {
  height: 140px;
  background-color: white;
}

.topAppBar {
  display: flex;
  align-items: center;
  height: 70px;
}
.topAppBar .leftContainer {
  display: flex;
  align-items: center;
  width: 50%;
}
.topAppBar .leftContainer__textLogo {
  text-transform: uppercase;
  font-style: italic;
  color: #5946d7;
  margin: 0 5px;
  letter-spacing: 2px;
}
.topAppBar .leftContainer__imgLogo {
  width: 40px;
  height: 40px;
}
.topAppBar .leftContainer__inputSearch {
  display: flex;
  align-items: center;
  width: 440px;
  margin: 0 10px;
  transition: all 500ms ease;
  border: 1px solid #DEDEE2;
  border-radius: 6px;
  background-color: #F4F5F6;
}
.topAppBar .leftContainer__inputSearch .inputSearch__container {
  width: 100%;
}
.topAppBar .leftContainer__inputSearch .inputSearch__container input {
  width: 95%;
  border: none;
  border-radius: 6px;
  outline: none;
  padding: 12px;
  background-color: #F4F5F6;
}
.topAppBar .leftContainer__inputSearch .inputSearch__container input::placeholder {
  color: #505255;
}
.topAppBar .leftContainer__inputSearch .inputSearch__imgContainer {
  float: right;
  margin: 5px;
  cursor: pointer;
}
.topAppBar .leftContainer__inputSearch .inputSearch__imgContainer img {
  width: 24px;
  height: 24px;
}
.topAppBar .rightContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-left: 15px;
}
.topAppBar .rightContainer img {
  width: 24px;
  height: 24px;
  margin: 0 5px;
}
.topAppBar .rightContainer__personalInfo {
  font-size: 16px;
  line-height: 20px;
  height: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.topAppBar .rightContainer a {
  text-decoration: none;
  color: #1B1D1F;
}

.bottomAppBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
.bottomAppBar__allCategoriesBtn {
  font-weight: 600;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 168px;
  border: none;
  padding: 10px;
}
.bottomAppBar__allCategoriesBtn img {
  margin: 0 5px;
}
.bottomAppBar__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.bottomAppBar__list {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 100%;
}
.bottomAppBar__list li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #F4F5F7;
  border-radius: 8px;
  width: 100%;
  height: 44px;
  margin: 0 5px;
}
.bottomAppBar__list li:hover {
  cursor: pointer;
}
.bottomAppBar__basketBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4F5F7;
  float: right;
  border: none;
  width: 167px;
}

/*# sourceMappingURL=styles.css.map */
