@use "importer" as i;

body {
    background-color: i.$body-background-color;
    border: 4px solid #6b0000;
}

.appBar {
    height: 140px;
    background-color: white;
}

.topAppBar {
    display: flex;
    align-items: center;
    height: 70px;

    .leftContainer {
        display: flex;
        align-items: center;
        width: 50%;


        &__textLogo {
            text-transform: uppercase;
            font-style: italic;
            color: i.$main-color;
            margin: 0 5px;
            letter-spacing: 2px;
        }

        &__imgLogo {
            width: 40px;
            height: 40px;
        }

        &__inputSearch {
            display: flex;
            align-items: center;
            width: 440px;
            margin: 0 10px;
            transition: all 500ms ease;
            border: 1px solid #DEDEE2;
            border-radius: 6px;
            background-color: #F4F5F6;


            .inputSearch__container {
                width: 100%;

                input {
                    width: 95%;
                    border: none;
                    border-radius: 6px;
                    outline: none;
                    padding: 12px;
                    background-color: #F4F5F6;
                }

                input::placeholder {
                    color: #505255;
                }

            }

            .inputSearch__imgContainer {
                float: right;
                margin: 5px;
                cursor: pointer;

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

    }


    .rightContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        margin-left: 15px;

        img {
            width: 24px;
            height: 24px;
            margin: 0 5px;
        }

        &__personalInfo {
            font-size: 16px;
            line-height: 20px;
            height: 24px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: i.$text-color;

        }
    }


}





