@use "importer" as i;

@mixin d-flex($justify: space-between, $align: center, $wrap: nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}


body {
    background-color: i.$body-background-color;
}

.appBar {
    height: 140px;
    background-color: white;
    box-shadow: 0 5px 20px 0 rgba(44, 41, 51, 0.1);
}

.topAppBar {
    @include d-flex();
    height: 70px;

    .leftContainer {
        @include d-flex();
        width: 50%;


        &__textLogo {
            text-transform: uppercase;
            font-style: italic;
            color: i.$main-color;
            margin: 0 5px;
            letter-spacing: 2px;
            font-size: 33px;
        }

        &__imgLogo {
            width: 40px;
            height: 40px;
        }

        &__inputSearch {
            @include d-flex();
            width: 440px;
            margin: 0 10px;
            transition: all 500ms ease;
            border: 1px solid #DEDEE2;
            border-radius: 6px;
            background-color: #F4F5F6;


            .inputSearch__container {
                width: 100%;

                input {
                    width: 95%;
                    border: none;
                    border-radius: 6px;
                    outline: none;
                    padding: 12px;
                    background-color: #F4F5F6;
                }

                input::placeholder {
                    color: #505255;
                }

            }

            .inputSearch__imgContainer {
                float: right;
                margin: 5px;
                cursor: pointer;

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

    }


    .rightContainer {
        @include d-flex();
        width: 50%;
        margin-left: 15px;

        img {
            width: 24px;
            height: 24px;
            margin: 0 5px;
        }

        &__personalInfo {
            @include d-flex();
            font-size: 16px;
            line-height: 20px;
            height: 24px;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: i.$text-color;
        }
    }


}

.bottomAppBar {
    @include d-flex();
    height: 70px;

    &__allCategoriesBtn {
        z-index: 7;
        @include d-flex();
        font-weight: 600;
        font-size: 14px;
        box-sizing: border-box;
        color: white;
        width: 168px;
        border: none;
        padding: 12px;

        span {
            width: 95%;
        }

        img {
            margin-right: 5px;
        }
    }

    &__navigation {
        @include d-flex();
        width: 100%;
    }

    &__list {
        @include d-flex();
        padding: 0;
        list-style: none;

        li {
            @include d-flex();
            text-align: center;
            font-size: 16px;
            box-sizing: border-box;
            border-radius: 8px;
            height: 44px;
            margin: 0 5px;
            padding: 8px;
            transition: all 300ms ease;

            &:hover {
                cursor: pointer;
                background-color: #F4F5F7;
            }
        }
    }

    &__basketBtn {
        @include d-flex(space-evenly);
        background-color: #F4F5F7;
        float: right;
        border: none;
        width: 167px;
        font-size: 16px;
        transition: all 0.3s ease;

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }

        span {
            @include d-flex(center);
            background-color: #FB6019;
            padding: 5px;
            width: 15px;
            height: 15px;
            border-radius: 25px;
            color: #fff;
            font-size: 14px;
        }
    }

}


.categories {
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #F6F8FB;
    border-radius: 10px;
    padding: 20px;
    @include d-flex();
    height: 280px;
    width: 100%;
    box-shadow: 12px 12px 0 10000px rgba(0, 0, 0, 0.62);
    transition: all 0.3s ease;

    .img {
        height: 240px;
    }


    &__firstList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-content: space-around;
        list-style: none;
        background-color: #fff;
        border-radius: 10px;
        height: 240px;
        width: 940px;

        li {
            box-sizing: border-box;
            @include d-flex(flex-start, center);
            text-align: center;
            width: 300px;
            height: 60px;
            padding: 15px;
            border-radius: 10px;
            transition: all 300ms ease;

            img {
                margin: 0 10px;
            }

            &:hover {
                cursor: pointer;
                color: #5946D7;
                background-color: #F4F5F7;
            }
        }
    }

}

.hero {
    margin-top: 30px;

    &__heroImg {
        border-radius: 25px;
        width: 1260px;
        height: 420px;
    }

    &__tripleStrip {
        display: flex;
        justify-content: space-between;
        width: 220px;
        margin-top: -71px;
        margin-left: 60px;

        .strip {
            background-color: rgba(255, 255, 255, 0.3);
            height: 4px;
            width: 60px;
            border-radius: 30px;
        }

        .activeStrip {
            background-color: #fff;
        }
    }

    &__arrows {
        margin-top: -165px;
        display: flex;
        align-self: center;
        justify-content: space-between;

        .arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 10px 0 rgba(46, 16, 102, 0.25);
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }

        .leftArrow {
            margin-left: -20px;
        }

        .rightArrow {
            margin-right: -20px;
        }
    }

    :hover {
        cursor: pointer;
    }

}








