@import url("fonts/Stolzl/stylesheet.css");
@import url("fonts/TTCommons/stylesheet.css");
* {
  margin: 0;
  padding: 0;
  font-family: "Stolzl", sans-serif;
  font-size: 14px;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.secondContainer {
  background-color: #fff;
  margin-top: 30px;
}

.line {
  border-bottom: 1px solid #e3e3e8;
}

.spaceBetweenLinks {
  margin: 0 5px;
}

.btn {
  background-color: #6a59cb;
  border-radius: 8px;
  height: 44px;
  cursor: pointer;
}

.categories.active {
  display: none;
}

body {
  background-color: #fafafd;
}

.appBar {
  height: 140px;
  background-color: white;
  box-shadow: 0 5px 20px 0 rgba(44, 41, 51, 0.1);
}

.topAppBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 70px;
}
.topAppBar .leftContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 50%;
}
.topAppBar .leftContainer__textLogo {
  font-family: "Outfit", sans-serif;
  text-transform: uppercase;
  font-style: italic;
  color: #5946d7;
  margin: 0 5px;
  letter-spacing: 2px;
  font-size: 33px;
}
.topAppBar .leftContainer__imgLogo {
  width: 40px;
  height: 40px;
}
.topAppBar .leftContainer__inputSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  align-items: flex-end;
  width: 440px;
  margin: 0 10px;
  transition: all 500ms ease;
  border: 1px solid #dedee2;
  border-radius: 6px;
  background-color: #f4f5f6;
}
.topAppBar .leftContainer__inputSearch .inputSearch__container {
  width: 100%;
}
.topAppBar .leftContainer__inputSearch .inputSearch__container input {
  width: 95%;
  border: none;
  border-radius: 6px;
  outline: none;
  padding: 12px;
  background-color: #f4f5f6;
}
.topAppBar .leftContainer__inputSearch .inputSearch__container input::placeholder {
  font-size: 18px;
  color: #505255;
  font-family: "TT Commons";
}
.topAppBar .leftContainer__inputSearch .inputSearch__imgContainer {
  float: right;
  margin: 5px;
  cursor: pointer;
}
.topAppBar .leftContainer__inputSearch .inputSearch__imgContainer img {
  width: 24px;
  height: 24px;
}
.topAppBar .rightContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 50%;
  margin-left: 15px;
}
.topAppBar .rightContainer img {
  width: 24px;
  height: 24px;
  margin: 0 5px;
}
.topAppBar .rightContainer__personalInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  align-items: flex-end;
  font-size: 16px;
  line-height: 20px;
  height: 24px;
  cursor: pointer;
}
.topAppBar .rightContainer a {
  text-decoration: none;
  color: #1b1d1f;
}

.bottomAppBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 70px;
}
.bottomAppBar__allCategoriesBtn {
  z-index: 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 14px;
  box-sizing: border-box;
  color: white;
  width: 168px;
  border: none;
  padding: 12px;
}
.bottomAppBar__allCategoriesBtn span {
  width: 95%;
}
.bottomAppBar__allCategoriesBtn img {
  margin-right: 5px;
}
.bottomAppBar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.bottomAppBar__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 80%;
  padding: 0;
  list-style: none;
}
.bottomAppBar__list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 8px;
  height: 44px;
  padding: 10px;
  transition: all 300ms ease;
}
.bottomAppBar__list li:hover {
  cursor: pointer;
  background-color: #f4f5f7;
}
.bottomAppBar__basketBtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #f4f5f7;
  float: right;
  border: none;
  width: 167px;
  font-size: 14px;
  transition: all 0.3s ease;
}
.bottomAppBar__basketBtn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.bottomAppBar__basketBtn span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #fb6019;
  padding: 5px;
  width: 15px;
  height: 15px;
  border-radius: 25px;
  color: #fff;
  font-size: 14px;
}

.categories {
  z-index: 11;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #f6f8fb;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 280px;
  width: 100%;
  box-shadow: 12px 12px 0 10000px rgba(0, 0, 0, 0.62);
  transition: all 0.3s ease;
}
.categories .img {
  height: 240px;
}
.categories__firstList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: space-around;
  list-style: none;
  background-color: #fff;
  border-radius: 10px;
  height: 240px;
  width: 940px;
}
.categories__firstList li {
  font-family: Stolzl;
  font-size: 14px;
  color: rgb(27, 29, 31);
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  width: 300px;
  height: 60px;
  padding: 15px;
  border-radius: 10px;
  transition: all 300ms ease;
}
.categories__firstList li img {
  margin: 0 10px;
}
.categories__firstList li:hover {
  cursor: pointer;
  color: #5946d7;
  background-color: #f4f5f7;
}

.hero {
  position: relative;
  top: 30px;
}
.hero__slider {
  background: url("/img/hero/banner.png");
  border-radius: 25px;
  height: 420px;
}
.hero__slider__text {
  position: absolute;
  margin-top: 100px;
  box-sizing: border-box;
  width: 627px;
  color: #fff;
  font-family: Stolzl;
  margin-left: 90px;
}
.hero__slider__text h1 {
  line-height: 55px;
  font-size: 40px;
  font-weight: 700;
}
.hero__slider__text h1 .highlightedText {
  box-sizing: content-box;
  display: inline-block;
  text-align: center;
  line-height: 55px;
  width: 110px;
  vertical-align: bottom;
  font-weight: 700;
  font-size: 40px;
  background-color: #f65f29;
  border-radius: 10px;
}
.hero__slider__text p {
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.8);
}
.hero__tripleStrip {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 220px;
  top: 80%;
  margin-left: 90px;
}
.hero__tripleStrip .strip {
  background-color: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  border-radius: 30px;
}
.hero__tripleStrip .activeStrip {
  background-color: #fff;
}
.hero__arrows {
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.hero__arrows .arrow {
  position: absolute;
  top: calc(50% - 20px);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(46, 16, 102, 0.25);
  transition: all 0.3s ease;
  outline: none;
  border: none;
}
.hero__arrows .arrow:hover {
  transform: scale(1.1);
}
.hero__arrows .leftArrow {
  left: -20px;
}
.hero__arrows .rightArrow {
  right: -20px;
}
.hero :hover {
  cursor: pointer;
}

.menu {
  margin-top: 60px;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  transition: all 0.3s ease;
}
.menu__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: space-around;
  list-style: none;
  background-color: #fff;
  box-shadow: 5px 5px 20px 0 rgba(44, 41, 51, 0.1);
}
.menu__list .categoriesImg {
  background: url("/img/categories/category.png");
  display: block;
  width: 100%;
  height: 100%;
}
.menu__list li {
  border: 1px solid rgb(232, 227, 227);
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  width: 420px;
  height: 100px;
  padding: 15px;
  transition: all 300ms ease;
  color: #1b1d1f;
}
.menu__list li a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}
.menu__list li:hover {
  cursor: pointer;
  color: #5946d7;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
.menu__list li img {
  margin: 0 10px;
}
.menu__list li .listItemText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  justify-content: center;
}
.menu__list li h1 {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
}
.menu__list li p {
  font-size: 12px;
  color: rgba(80, 82, 85, 0.9);
}
.menu__list li.imaged button {
  background: none;
  border: none;
}
.menu__list li.imaged a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}
.menu__list li.imaged a button {
  margin-top: 35px;
}
.menu__list li.imaged a button:hover {
  cursor: pointer;
}
.menu__list li.imaged {
  color: white;
  background-position: -7px -7px;
  background-size: 110%;
  background-image: url("/img/categories/item_bg.png");
}

.productsOil {
  padding-top: 30px;
  height: 100vh;
}
.productsOil__oilHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.productsOil__oilHeader h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}
.productsOil__oilHeader button {
  background-color: #F4F5F7;
  border: none;
  font-size: 14px;
  border-radius: 8px;
  width: 177px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px 8px 20px;
  color: #483cad;
  gap: 10px;
  transition: all 300ms ease;
}
.productsOil__oilHeader button:hover {
  scale: 1.05;
  cursor: pointer;
}
.productsOil__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 10px;
}
.productsOil__cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 410px;
  border: 1px solid #DEDEE2;
  border-radius: 10px;
  transition: all 300ms ease;
}
.productsOil__cards .card:hover {
  border: 1px solid #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.07);
  cursor: pointer;
}
.productsOil__cards .firstCard {
  background-color: rgb(89, 70, 215);
  border-radius: 10px 10px 20px 13px;
}
.productsOil__cards .firstCard p {
  margin-top: 33px;
  align-self: center;
  width: 223px;
  color: white;
  font-size: 24px;
  font-weight: 700;
}
.productsOil__cards .secondCard .mainImg {
  width: 240px;
  height: 222px;
  align-self: center;
  margin-top: 30px;
}
.productsOil__cards .secondCard .review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 20px 10px 20px;
}
.productsOil__cards .secondCard .review p {
  font-size: 12px;
  color: #7A7680;
}
.productsOil__cards .secondCard .review .rightReview {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1C1D1E;
}
.productsOil__cards .secondCard .review .rightReview .reviews {
  color: #7A7680;
  font-size: 12px;
}
.productsOil__cards .secondCard .review .rightReview .stars {
  margin: 0 5px;
  width: 72px;
  height: 12px;
}
.productsOil__cards .secondCard .name {
  font-size: 16px;
  margin: 0 20px;
  color: #1B1D1F;
}
.productsOil__cards .secondCard .price .price-box {
  display: flex;
}
.productsOil__cards .secondCard .price .price-box p {
  font-size: 24px;
  color: #1B1D1F;
}
.productsOil__cards .secondCard .price .price-box .crossedPrice {
  text-decoration: line-through;
  font-size: 16px;
  color: #7A7680;
  vertical-align: sub;
  margin-left: 10px;
}
.productsOil__cards .secondCard .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 18px;
}
.productsOil__cards .secondCard .price button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #5946d7;
  border-radius: 8px;
  width: 40px;
  height: 40px;
}
.productsOil__cards .secondCard .price button:hover {
  cursor: pointer;
  border: none;
  background-color: #5946d7;
}
.productsOil__cards .secondCard .price img {
  width: 24px;
  height: 24px;
  margin: 0;
  transition: all 300ms ease;
}

/*# sourceMappingURL=styles.css.map */
